body{
    margin: 0%;
}
.topright{
    padding: 10px 20px;}
    .menu{
        margin-left: 60%;
        margin-top: 1%;
    }

#name{color: tomato;}
.hire-button{
    text-decoration: none ;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    font-size: 15pt;
    padding: 10px 15px;
    border-radius: 5px}
.Hello{
    width: 40%;
    font-size: 20pt;
    float: left;
margin: 5%;
}

 
 .button-cv{
     text-decoration: none;
     background-image: linear-gradient(45deg, lightsalmon, tomato);
     padding: 10px 15px;
     border-radius: 5px;

 }
 #latest1{
     color: tomato;
 }
#latest{
    text-align: center;
    font-size: 35pt;}
    .working-p{
        width: 25%;
        float: left;
        padding:2%;
        margin: 2% 2%;
        border-radius: 5px;
        box-shadow:3px 4px 10px gray;
        
    }
    .lower-up{
        
        background-color: rgba(128, 128, 128, 0.034);
    }
    #lc{
        text-decoration: none;
        color: azure;
     background-image: linear-gradient(45deg, lightsalmon, tomato);
     padding: 10px 20px;
     border-radius: 5px;
    }
 .work-I{
    display: inline-block;
    padding: 40px 70px;
    color: azure;
   
  
}

.WI{
    background-image: url(images/assignment.png);
    background-size: 600px;
    width: 400;
    height: 200px;
    background-repeat: no-repeat;
    margin-left: 28%;
    margin-top: 600px;
    
}
.bottom-text{
    text-align: center;
    color: rgb(31, 29, 29);
}
.icon{
   margin: 0% 43.5%;}
  }




    


